<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\WebCarProject.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess" />
  </system.webServer>
  <!-- 配置连接字符串 -->
  <connectionStrings>
	<add name="YourDatabaseConnection" connectionString="Data Source=NXCL2024;Initial Catalog=CarProject;User ID=sa;Password=Hbjkj@#123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>