@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layuimini/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuimini/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>


    <!--穿梭框-->
    <div id="test4" class="demo-transfer"></div>
    <button id="saveBtn" style=" margin-top: 20px; margin-left: 193px;" class="layui-btn layui-btn-normal">确认保存</button>

    <script src="../layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>

        //获取url上的id
        console.log(window.location.search);
        var id = window.location.search.substring(4);


        layui.use(['transfer', 'layer', 'util'], function () {
            var $ = layui.$
                , transfer = layui.transfer
                , layer = layui.layer
                , util = layui.util;

            //发起异步请求获取用户备选数据
            $.ajax({
                url: '/RoleInfo/GetOptions',
                type: 'get',
                data: {
                    roleId: id
                },
                success: function (res) {
                    console.log(res);

                    //显示搜索框
                    transfer.render({
                        elem: '#test4'
                        , data: res.data.userOptions
                        , title: ['备选用户', '已选用户']
                        , showSearch: true
                        , id: 'demo1' //定义索引
                        , value: res.data.userIds
                    })
                }
            });

            //提交按钮点击事件
            $('#saveBtn').click(function () {

                //获得右侧数据
                var getData = transfer.getData('demo1');

                //获取右边已经选好的用户id数组
                var userIds = [];
                for (var i = 0; i < getData.length; i++) {
                    userIds.push(getData[i].value);
                }


                $.ajax({
                    url: '/RoleInfo/BindUser',
                    type: 'post',
                    data: {
                        roleId: id,
                        userIds: userIds
                    },
                    success: function (res) {
                        console.log(res);

                    }
                });
            });
        });
    </script>
</body>
</html>