<!DOCTYPE html>

<html>

<head>
    <title>WebRTC Playback</title>
    
</head>

<body>
    <script src="../js/mux/mux.min.js"></script>
    <script src="../js/signalr/dist/browser/signalr.min.js"></script>
    <video id="videoPlayer" autoplay controls width="600" height="600"></video>
    <input type="text" id="rtspUrlInput">
    <button onclick="startVideo()">开始播放</button>
    <button onclick="startVideo1()">播放</button>
    <script>
      
        function startVideo() {
            const rtspUrl = document.getElementById('rtspUrlInput').value;
            fetch('/API/PlayVideo2', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(rtspUrl)
            });
        }
        function startVideo1() {
            const rtspUrl = document.getElementById('rtspUrlInput').value;
            fetch('/API/RSTPTOWEBM', {
                method: 'GET',
                
            });
        }
    </script>
</body>

</html>